*{ /* Selector Universal - Reseteo de estilos */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* Color de fondo de todo el sitio*/
body {
  background-color: #EFE1A6;
  font-family: 'Montserrat', sans-serif;
}

.body2 {
  background-color: #F89459;
}


/* Header HTML LINKS */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Navegador */
.navegador {
  width: 100%;
  background-color: #F89459;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  z-index: 1000; /* se coloca delante */
}

/* Logo navegador */
.logo {
  max-width: 250px;
}

/* Enlaces internos del navegador */
.nav_list {
  display: flex;
  flex-direction: column;
}

.menu {
  display: block;
  padding-right: 1.5rem;
  color: white;
  font-size: 90px;
  font-family: 'Amatic SC', cursive;
}

@media (min-width: 1000px) {
  .logo {
    max-width: 100px;
  }

  .nav_list {
    flex-direction: row;
  }

  .menu {
    font-size: 40px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}


/* Menú desplegable */

.submenu {
  display: none;
  position: absolute;
  padding: 0.5rem;
  background-color: #F89459;
}

.desplegable {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
}

@media (min-width: 1000px) {
  .desplegable {
    font-size: 30px;
  }
}

.nav_list li:hover > .submenu { /* Mostrar menú desplegable */
  display:block;
}

/* Mousse sobre los enlaces internos - cambio de color */
.menu:hover {
  color: #EFE1A6;
}

.desplegable:hover {
  color: #EFE1A6;
}

/* Carrusel */

#carouselExampleIndicators {
  padding-top: 437px;
}

.d-block {
  height: 740px;
  object-fit: cover; /* mantener proporciones de imagenes */
}

@media (min-width: 1000px) {
  #carouselExampleIndicators {
    padding-top: 116px;
  }

  .d-block {
    height: 541px;
  }
}

/* SECCIONES */

.secciones {
  color: black;
  padding: 28rem 2.5rem 2.5rem 2.5rem;
}

.logofinal {
  max-width: 400px;
  object-fit: cover; /* mantener proporciones de imagenes */
}

@media (min-width: 1000px) {
  .secciones {
    padding-top: 6rem;
  }

  .logofinal {
    max-width: 200px;
    object-fit: cover; /* mantener proporciones de imagenes */
  }
}

/* sección Sobre Mí */

.presentación {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto {
  max-width: 1000px;
  padding-right: none;
  padding-bottom: 40px;
  padding-top: 20px;
}

.h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
}

.biografía {
  font-size: 30px;
  text-align: justify;
}

@media (min-width: 1000px) {
  .presentación {
    flex-direction: row;
  }

  .foto {
    max-height: 480px;
    padding-right: 40px;
    padding-bottom: none;
    padding-top: none;
  }

  .h3 {
    font-size: 40px;
  }

  .biografía {
    font-size: 15px;
    line-height: 30px;
  }
}

/* sección Galería */

.tres {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 4rem 0rem 5rem 0rem;
}

@media (min-width: 1000px) {
  .tres {
    flex-direction: row;
  }
}

.gal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8rem;
}

@media (min-width: 1000px) {
  .gal {
    padding-bottom: none;
  }
}

.h4 {
  font-family: 'Amatic SC', cursive;
  font-size: 75px;
}

.imagenes {
  max-width: 500px;
}

@media (min-width: 1000px) {
  .imagenes {
    max-width: 220px;
  }

  .h4 {
    font-size: 35px;
  }
}

/* sección Contacto */

.contacto {
  color: white;
  background-color: #2DA584;
  width: 100%;
  padding: 2.5rem;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.redes {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.red {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 50px;
}

.iconos {
  max-width: 70px;
  padding-right: 10px;
}

.logocontacto {
  max-width: 250px;
  padding-right: 80px;
}

.h5 {
  font-size: 30px;
}

.h6 {
  font-size: 20px;
  padding-top: 40px;
}

@media (min-width: 1000px) {
  .redes {
    flex-direction: row;
  }

  .h5 {
    font-size: 17px;
  }

  .h6 {
    font-size: 12px;
    padding-top: none;
  }
}

/* HTML LINKS */

.portfolio {
  padding-top: 437px;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2.5rem;
}

.h1 {
  color: black;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
}

/* Div que contiene todas las imágenes - Grilla */
.imggaleria {
  padding: 2.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 3 columnas del mismo ancho */
  grid-gap: 1rem; /* espaciado entre filas y columnas */
}

.imggaleria2 {
  padding: 2.5rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr); /* 2 filas del mismo alto */
  grid-gap: 1rem; /* espaciado entre filas y columnas */
}

.imggaleria3 {
  padding: 2.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 3 columnas del mismo ancho */
  grid-gap: 1rem; /* espaciado entre filas y columnas */
}

@media (min-width: 1000px) {
  .portfolio {
    padding-top: 116px;
  }

  .imggaleria {
    grid-template-columns: repeat(3, 1fr);
  }

  .imggaleria2 {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Imágenes */
.img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* mantener proporciones de imagenes */
}

/* Div de cada imágen */

@media (min-width: 1000px) {
/* perspectivas peatonales */
  .imgcontenedorp:nth-child(1) { /* hijo 1 */
    grid-column-start: span 2; /* que ocupe 2 columnas */
  }

  .imgcontenedorp:nth-child(2) { /* hijo 2 */
    grid-row-start: span 2; /* que ocupe 2 filas */
  }
}
